.wrapper
  display grid
  border 1px solid black

.table
  display grid
  
.header, .row
  display inline-grid
  gap 10px
  grid-template-columns repeat(auto-fill, 19.5%)
  
.header_cell
  border 1px solid grey
  height 60px
  
.rows
  display grid

.col
  background-color #00bcd4
  
.row
  height 40px
  border-bottom 1px solid grey
